<html>
    <head>
        <title>Edit Persons</title>
        <style type="text/css">
            form, input {
                padding: 3px;
                margin: 3px;
            }
        </style>
    </head>
    <body>
        <h2>Edit person</h2>
        <form action="/modify_person/{{persons_short_name}}/" method="post" style="padding: 5px;">
            {% csrf_token %}
            {{ form_edit.as_ul }}
            <p />
            <input type="submit" value="Submit" />
            <input type="reset" value="Clear" />
        </form>
    </body>
</html>
